
header img {
    height: 140px;
    width: 200psx;
    vertical-align: middle;
}

img {
    width: 800px;
}

body{
    background-color: rgb(16, 107, 97);
}
.header {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 5em;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.active {
    background-color: #c2530f;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    width:800px;
    margin:auto;
    background-color: #d38041;
}
.container {
    padding: 2px 16px;
  }

